<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.ReplyMapper">
	<select id="replyList" resultType="rep">
		select * 
		from tbl_replys
		where board_no = #{boardNo}
	</select>
	
	<select id = "replyListPaging" resultType="rep" parameterType="com.yedam.common.SearchVO" >
	select r.*
	from(select rownum rn,a.*
		 from (select *
			   from tbl_replys
	where board_no=#{boardNo}
	order by reply_no) a
           <![CDATA[ 
           where rownum <= (#{rpage} * 5)) r
           ]]> <!-- 비교연산자 사용가능 -->
	where r.rn > (#{rpage} - 1) * 5
	</select>
	<select id="getReplyCnt" resultType="int" parameterType="int">
	select count(1)
	from tbl_replys
	where board_no = #{bno}
	</select>
	<delete id="deleteReply" parameterType="int">
	delete from tbl_replys
	where reply_no = #{replyNo}
	</delete>
	
	<insert id="insertReply" parameterType="rep">
	<selectKey resultType="int" keyProperty="replyNo" order="BEFORE">
	select replys_seq.nextval from dual
	</selectKey>
	insert into tbl_replys(REPLY_NO, REPLY, REPLYER, BOARD_NO)
	values(#{replyNo}, #{reply},#{replyer},#{boardNo})
	</insert>
	<update id="updateReply" parameterType="rep">
		update tbl_replys
		set reply = #{reply},
		reply_date = sysdate
		where board_no = #{boardNo}
		and reply_no=#{replyNo}
	</update>
	
	<select id = "selectList" resultType="com.yedam.vo.CartVO">
	select *
	from tbl_cart
	order by no
	</select>
	<update id = "updateCart" parameterType = "com.yedam.vo.CartVO">
	update tbl_cart
	set qty = qty + #{qty}
	where no = #{no}
	</update>
	<delete id ="deleteCart" parameterType = "int">
	delete from tbl_cart
	where no = #{no}
	</delete>
	
	<insert id="insertCenter">
	insert into tbl_centers(ID, CENTER_NAME, SIDO, PHONE_NUMBER, ADDRESS,
	CENTER_TYPE)
	<foreach collection="array" item="center"
	open=" select " separator=" from dual union all select " close=" from dual">
	#{center.id},#{center.centerName},#{center.sido},#{center.phoneNumber},#{center.address},#{center.centerType}
	</foreach>
</insert>
</mapper>