<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mapper.EmpMapper">
  <select id="selectEmp" resultType="emp">
    select * from employees
  </select>
  <insert id = "insertEmp" parameterType = "emp">
  insert into employees (EMPLOYEE_ID, FIRST_NAME, LAST_NAME, EMAIL, HIRE_DATE,JOB_ID)
  values(#{employeeId},#{firstName},#{lastName},#{email},sysdate,#{jobId})
  </insert>
  <delete id ="deleteEmp" parameterType = "int">
  delete from employees where EMPLOYEE_ID = #{employeeId}
  </delete>
  <select id="getEmployee" parameterType = "int" resultType="emp">
    select * from employees where EMPLOYEE_ID = #{employeeId}
  </select>
</mapper>